html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-size: cover;
  /* background: linear-gradient(45deg, #49a09d, #5f2c82); */
  
  font-family: sans-serif;
  font-weight: 100;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table {
    background-color: black;
  width: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  border: dimgrey 1px solid;
  margin:10px
}

th,
td {
  padding: 15px;
  background-color: rgba(255,255,255,0.2);
  color: #fff;
  border: dimgrey 1px solid;
}

th {
  text-align: left;
}
tr:hover{
background-color:rgb(185, 24, 24);
}
#btn{
    margin-left: 40%;
    background-color: green;
    color: cornsilk;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    padding: 10px;
    border: darkblue;
    margin-bottom: 20px;
}
#btn:hover{
    background-color: red;
}
